@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,700);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

/************************************************************************************
RESET
*************************************************************************************/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
    margin: 0;
    padding: 0;
}

img, fieldset {
    border: 0;
}

/* set image max width to 100% */
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

/************************************************************************************
GENERAL STYLING
*************************************************************************************/
a {
	color: #be4856;
	text-decoration: none;
	outline: none;
}
a:hover,
a:focus {
	color: #fff;
}

p {
    margin: 0 0 1.2em;
    padding: 0;
}

/* list */
ul, ol {
    margin: 1em 0 1.4em 24px;
    padding: 0;
    line-height: 140%;
}
li {
    margin: 0 0 .5em 0;
    padding: 0;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
    line-height: 1.4em;
    margin: 20px 0 .4em;
    color: #000;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.6em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1.1em;
}
h6 {
    font-size: 1em;
}

/* reset webkit search input styles */
input[type=search] {
    -webkit-appearance: none;
    outline: none;
}
input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

/************************************************************************************
STRUCTURE
*************************************************************************************/
body {
    background: #333;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
	background: #ef6e7e;
	padding: 20px 0;
	padding-bottom: 120px;
}

.container {
    max-width: 768px;
    width: 90%;
    margin: 0 auto;
}

.container header {
    position: relative;
    text-align: center;
    margin: 30px 0 100px 0;
    font-family: 'Emilys Candy', cursive;
}

.container header h1 {
    color: #be4856;
    font-size: 3.5em;
    margin: 20px 0 .25em;
}

.container header p {
    color: #be4856;
    font-size: .98em;
}

.container h2 {
    font-family: 'Emilys Candy', cursive;
    font-size: 2.45em;
    font-weight: 700;
    color: #fff;
    letter-spacing: .1em;
}

.btn {
    
}

/************************************************************************************
EDITOR
*************************************************************************************/
.editor {
    position: absolute;
    width: 100%;
    min-height: 200px;
    margin: 24px 0;
}

.toy {
    
}

.run {
    display: inline-block;
    border: 2px solid #fff;
    padding: 6px 12px;
    box-sizing: border-box;
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footer {
    clear: both;
    color: #ccc;
    font-size: 85%;
}
#footer a {
    color: #fff;
}

/************************************************************************************
CLEARFIX
*************************************************************************************/
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
.clearfix { display: block; zoom: 1; }
